<h1>Bid on <%= @item.name %></h1>

<% form_url = "/auctions/" + @auction.id.to_s + "/update_bid/" %>
<div class="current-bid">
  Current bid: <%= @auction.current_bid %>
</div>
<form action="<%= form_url %>" method="post">
  <div class="field">
    <% current_bid = get_current_bid_value(@auction) + 1 %>
    Amount to bid: <input type="text" name="bid" value="<%= current_bid.to_s %>">
  </div>
  <div class="actions">
    <input type="submit" value="Bid!" class="bid_submit round">
  </div>
</form>
