
<div class="auction_search">
  Search auctions by description:<br />
  <%= render 'auctions/search' %>
</div>
<hr>

<h1>All auctions</h1>

<div class="search_results">
<%= will_paginate %>

<table class="auctions">
  <%= render @auctions %>
</table>

<%= will_paginate %>
</div>
