.container {
  width: 710px;
}

body {
  background: #002323;
  background-image:url(http://manyshapedwebdesign.com/images/dbbackground.jpg);
  background-attachment:fixed;
  background-position:50% 15%;
}

header {
  padding-top: 20px;
}

header img {
  padding: .2em 1em;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
   -webkit-box-shadow:  0px 0px 20px 1px #012324;
	-moz-box-shadow:  0px 0px 20px 1px #012324;
	box-shadow:  0px 0px 20px 1px #012324;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #105d54;
  text-decoration: none;
}

a:hover {
  color: #188578;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
   -webkit-box-shadow:  0px 0px 20px 1px #012324;
	-moz-box-shadow:  0px 0px 20px 1px #012324;
	box-shadow:  0px 0px 20px 1px #012324;
	
	
background: rgb(242,246,248); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(50%,rgba(216,225,231,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button,  {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  background: #2f1805;
  font-size: 150%; 
  font-weight: bold;
  padding: 20px;
  color: #ebce47;
  background-image:url(http://manyshapedwebdesign.com/images/dbbutton.jpg);
	-moz-box-shadow: inset -3px -3px #2f1805, inset 3px 3px #c6a717;
	-webkit-box-shadow: inset -3px -3px #2f1805, inset 3px 3px #c6a717;
	box-shadow: inset -3px -3px #2f1805, inset 3px 3px #c6a717;
	border:2px solid #1b0a03;
}



/* Campaign create button, forked from above */
a.createcampaign_button, a.createcharacter_button, .search_button {
  margin:5px auto 0 auto;
  display: block;
  text-align: center;
  width: 145px;
  background: #2f1805;
  /*font-size: 100%;*/
  font-weight: bold;
  padding: 10px;
  color: #3e2c0f;
  background-image:url(http://manyshapedwebdesign.com/images/dbbutton.jpg);
	border:1px solid #ccac78;
	background: rgb(243,226,199); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,226,199,1)), color-stop(50%,rgba(193,158,103,1)), color-stop(51%,rgba(182,141,76,1)), color-stop(100%,rgba(233,212,179,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}

a.createcampaign_button:hover, a.createcharacter_button:hover, .search_button:hover {
	text-decoration:none;
	color:#322209;
	background: rgb(229,192,133); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,192,133,1) 0%, rgba(172,133,70,1) 50%, rgba(150,116,62,1) 51%, rgba(217,180,121,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,192,133,1)), color-stop(50%,rgba(172,133,70,1)), color-stop(51%,rgba(150,116,62,1)), color-stop(100%,rgba(217,180,121,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,192,133,1) 0%,rgba(172,133,70,1) 50%,rgba(150,116,62,1) 51%,rgba(217,180,121,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,192,133,1) 0%,rgba(172,133,70,1) 50%,rgba(150,116,62,1) 51%,rgba(217,180,121,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,192,133,1) 0%,rgba(172,133,70,1) 50%,rgba(150,116,62,1) 51%,rgba(217,180,121,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(229,192,133,1) 0%,rgba(172,133,70,1) 50%,rgba(150,116,62,1) 51%,rgba(217,180,121,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5c085', endColorstr='#d9b479',GradientType=0 ); /* IE6-9 */
}

.search_button {
	padding:5px;
	font-size:1.1em;
	width: 153px;
}
/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin: 20px auto;
  width: 710px;
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background-color: #f9eddb;
  border:1px solid #eeddc3;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

h1.item {
  margin-bottom: 0.3em;
}
table.items {
  margin-top: 1em;
}

table.items tr {
  height: 70px;
}

table.items tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.items tr td.item {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.items tr td.item span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.items {
  font-size: 80%;
}

form.new_item {
  margin-bottom: 2em;
}

form.new_item textarea {
  height: 4em;
  margin-bottom: 0;
}

/* debug flash */
.debug {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.debug {background:#d5edf8;color:#205791;border-color:#92cae4;}
.debug a {color:#205791;}
