<%= form_for @item do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "newitem_submit" %>
  </div>
<% end %>
