<h1>About Us</h1>
<p>We are a software team from CSU Fullerton's CPSC 473 class, Spring 2012.</p>
<p>The source code for this project is <a href="https://github.com/msphil/DungeonBay">hosted on Github</a>.</p>
