<h1>Contact</h1>
<p>The source code for this project is <a href="https://github.com/msphil/DungeonBay">hosted on Github</a>.</p>
<p>You can contact the developers through that project page or <a href="mailto:msphil@gmail.com">via e-mail</a>.</p>
