<tr class="item">
  <td class="item-picture">
    <span class="picture"><img src="<%= item.image_url %>" /></span>
  </td>
  <td>
    <table>
      <tr>
        <td class="item-name">
          <span class="description"><%= item.name %></span>
        </td>
      </tr>
      <tr>
        <td class="item-name">
          <span class="description"><%= item.description %></span>
        </td>
      </tr>
      <% character = Character.find(item.owner_id) %>
      <% if !@viewing_auctions %>
        <% if character.owner_id == current_user.id %>
        <tr>
          <td class="item-auction">
            <%= link_to("Create an auction with this item", :controller=>"items", :action => 'select', :id => item.id) %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </table>
  </td>
</tr>
